body {
  background-color: #000;
  color: #f0f0f0;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Passion One', sans-serif;
  text-shadow: 3px 3px 5px black;
  font-weight: 300;
}

h1 {
  font-size: 60px;
  padding: 0;
  margin: 30px 0;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 22px;
}

.container {
  max-width: 800px;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}

.centered {
    text-align: center;
}

#photo {
  text-align: center;
  margin-top: 10%;
}

#bio {
  margin-top: 50px;
}

#bio p a {
  color: #ababab;
  text-decoration: none;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

#bio p a:hover,
#bio p a:focus {
  border-bottom: solid 1px;
}

#bio p a:before,
#bio p a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

#social {
  margin-top: 60px;
  font-size: 120%;
}

#social ul li {
  margin: 3px 6px !important;
}

.si li a {
  color: white !important;
}

@media (max-width:768px) {
  h1 {
    font-size: 34px;
  }

  #photo {
    margin-top: 7%;
  }
}
